body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 480px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #1e293b;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatList, #messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat {
  background: #1e293b;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.me {
  align-self: flex-end;
  background: #22c55e;
  color: black;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}

.them {
  align-self: flex-start;
  background: #334155;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}

.send {
  display: flex;
  padding: 10px;
  background: #020617;
}

.send input {
  flex: 1;
  padding: 8px;
}

.send button {
  margin-left: 5px;
}
